@import "tailwindcss";
@plugin "daisyui";

@font-face {
  font-family: "Mona Sans";
  src: url("/MonaSans-Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Mona Sans";
  src: url("/MonaSans-Bold.woff2") format("woff2");
  font-weight: 700;
}

body {
  font-family: "Mona Sans", sans-serif !important;
}